*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, rgb(191, 187, 187),transparent);
}

.main nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}


.main nav .logo img{
    margin: 12px;
    height: 2.5em;
    width: 8em;
    cursor: pointer;
}

.main nav .logo:hover{
    border: 1px solid white;
}


.main nav .location{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.main nav .location p{
    width: 5em;
} 

.main nav .location svg{
    color: white;
}

.main nav .location:hover{
    border: 1px solid white;
}

.main nav .searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main nav .searchbar p{
    background-color: gray;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.main nav .searchbar input{
    width: 40vw;
    height: 40px;
    padding: 12px;
    border: none;
    border-radius: 3px;
}

.main nav .searchbar svg{
    background-color: orange;
    height: 40px;
    width: 2em;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
}


.main nav .flag{
    display: flex;
    cursor: pointer;
    padding-top: 17px;
    padding-left: 24px;
}

.main nav .flag p{
    padding-top: 8px;
    padding-left: 8px;
}

.main nav .flag img{
    height: 30px;
    padding-top: 6px;
} 

.main nav .flag svg{
    color: white;
    padding-top: 10px;
}

.main nav .flag:hover{
    border: 1px solid white;
}

.main nav .signin{
    width: 7em;
    padding-top: 14px;
    cursor: pointer;
}

.main nav .signin p{
    font-size: 12px;
}

.main nav .signin strong{
    font-size: 15px;
}

.main nav .signin:hover{
    border: 1px solid white;
}

.main nav .return{
    padding-top: 12px;
    cursor: pointer;
    width: 5em
}

.main nav .return:hover{
    border: 1px solid white;
}

.main nav .cart{
    display: flex;
    cursor: pointer;
    padding: 17px;
}

.main nav .cart svg{
    color: orange;
}

.main nav .cart p{
    font-size: 18px;
    margin-top: 4px;
}

.main nav .cart:hover{
    border: 1px solid white;
}

.nav2{
    background-color:#232f3e;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.nav2 svg{
    color: white;
}

.nav2 ul{
    display: flex;
    list-style: none;
}

.nav2 ul li{
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
    font-size: large;
    cursor: pointer;
}

.nav2 ul li:hover{
    border: 1px solid white;
}

.nav2 p{
    display: flex;
    font-size: large;
    cursor: pointer;
    padding: 3px;
}

.nav2 p:hover{
    border: 1px solid white;
}
.backgroundimg{
    width: 100%;
    height: 300px;
    background: url(background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.boxes{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: -146px;
    padding: 14px;
    
}

.boxes img{
    width: 280px;
    height:50vh;
    padding: 6px;
    cursor: pointer;
    /* object-fit: cover;
    display: block; */
}

.box1{
    width: 290px;
    height: 70vh;
    background-color:white;
    margin: 8px;
}
.box1 h3{
    padding: 12px;
}
.box1 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box1 p:hover{
    color: red;
}

.box2{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box2 h3{
    padding: 12px;
}
.box2 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box2 p:hover{
    color: red;
}

.box3{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box3 h3{
    padding: 12px;
}
.box3 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box3 p:hover{
    color: red;
}

.box4{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box4 h3{
    padding: 12px;
}
.box4 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box4 p:hover{
    color: red;
}

.box5{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box5 h3{
    padding: 12px;
}
.box5 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box5 p:hover{
    color: red;
}

.box6{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box6 h3{
    padding: 12px;
}
.box6 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box6 p:hover{
    color: red;
}

.box7{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box7 h3{
    padding: 12px;
}
.box7 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box7 p:hover{
    color: red;
}

.box8{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.box8 h3{
    padding: 12px;
}
.box8 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.box8 p:hover{
    color: red;
}

@media screen and (max-width: 1220px) {
    .main nav .flag{
        display: none;
    }
}

@media screen and (max-width: 1085px) {
    .main nav .signin{
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .main nav .return{
        display: none;
    }
}

@media screen and (max-width: 715px) {
    .main nav .location{
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .main nav{
        height: auto;
        flex-wrap: wrap;
    }
    .main nav .cart {
        display: none;
    }

    .main nav .searchbar{
        width: 90%;
        margin-bottom: 10px;
    }


}

@media screen and (max-width: 760px) {
    .nav2{
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .boxes .box1, 
.boxes .box2, 
.boxes .box3, 
.boxes .box4, 
.boxes .box5, 
.boxes .box6, 
.boxes .box7, 
.boxes .box8 {
    width: auto;
    height: 60vh;
}
}

@media screen and (max-width: 640px) {
    .boxes {
    justify-content: center;
    align-items: center;
}
}

.bestseller{
    width: 96%;
    height: 290px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    top: -131px;
}

.bestseller h2{
    padding: 12px;
}

.bestseller ul{
    list-style: none;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.bestseller img{
    width: 20em;
    height: 15em;
    padding: 14px;
    display: inline-block;
    cursor: pointer;
}

.bestseller ul li:first-child img {
    width: 7em;
}

.mostwished{
    width: 96%;
    height: 290px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    top: -131px;
}

.mostwished h2{
    padding: 12px;
}

.mostwished ul{
    list-style: none;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.mostwished img{
    width: 13em;
    height: 15em;
    padding: 14px;
    display: inline-block;
    cursor: pointer;
}

.backtotop{
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    cursor: pointer;
}

.infobox {
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    padding: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #dddddd;
}


.footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #131A22;
}

.footer-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 150px; 
}

.footer-section h4 {
    margin: 0 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.footer-section p {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #dddddd;
    cursor: pointer;
}

.footer-section p:not(:last-child) {
    margin-bottom: 20px;
}


.againboxes{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: -146px;
    padding: 14px;
    
}

.againboxes img{
    width: 280px;
    height:50vh;
    padding: 6px;
    cursor: pointer;
}

.againboxes .box1{
    width: 290px;
    height: 70vh;
    background-color:white;
    margin: 8px;
}
.againboxes .box1 h3{
    padding: 12px;
}
.againboxes .box1 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.againboxes .box1 p:hover{
    color: red;
}

.againboxes .box2{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.againboxes .box2 h3{
    padding: 12px;
}
.againboxes .box2 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.againboxes .box2 p:hover{
    color: red;
}

.againboxes .box3{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.againboxes .box3 h3{
    padding: 12px;
}
.againboxes .box3 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.againboxes .box3 p:hover{
    color: red;
}

.againboxes .box4{
    width: 290px;
    height: 70vh;
    background-color: white;
    margin: 8px;
}

.againboxes .box4 h3{
    padding: 12px;
}
.againboxes .box4 p{
    padding: 12px;
    cursor: pointer;
    color: blue;
}

.againboxes .box4 p:hover{
    color: red;
}

.forpakistan{
    width: 96%;
    height: 290px;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
    position: relative;
    top: -131px;
}

.forpakistan h2{
    padding: 12px;
}

.forpakistan ul{
    list-style: none;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

.forpakistan img{
    width: 13em;
    height: 15em;
    padding: 14px;
    display: inline-block;
    cursor: pointer;
}